* {

	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Signika' !important;
	font-weight: 700 !important;
}

@font-face {
	font-family: Signika;
	src: url(../fuentes/Signika-Bold.ttf);
}

body {
	width: 100%;
	background-image: url(../imagenes/serge-kutuzov-229068-unsplash.jpg);
	margin: 0;
	padding: 0;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.inputBox {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	border: none;
	outline: none;
	background: transparent;
}

.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 20px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
	letter-spacing: 1px;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {

	top: -18px;
	left: 0;
	color: #3ead47;
	font-size: 15px;
}

.box input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #3ead47;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 370px;
	padding: 40px;
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.box a {
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: darkgray;
}

.box a:hover {
	color: #3ead47;
}

.box h2 {
	margin: 20px 0 40px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox {
	position: relative;
}

.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox input:focus {
	border-bottom: 1px solid #3ead47;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 140px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
	/* Black w/ opacity */
}

.correo_rec:focus {
	outline: 2px solid #3ead47;
}

.correo_rec {
	width: 230px;
	height: 30px;
}

/* Modal Content */
.botons {
	position: relative;
	left: 35%;
	margin: auto;
	border: none;
	outline: none;
	color: #fff;
	background: #3ead47;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.btons {
	position: relative;
	margin: auto;
	border: none;
	outline: none;
	color: #fff;
	background: #3ead47;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.acept {
	margin-top: 7px;
}

.corre {

	background: #fff;
	margin: auto;
	border: 0px solid #3ead47;
	width: 180px;
	height: 20px;
	text-align: center;
	position: relative;
	top: 0px;
	left: 0px;

}

.modal-content p {
	padding: 25px;
	padding-bottom: 10px;
	text-align: center;
}

.cuad1 .modal-content {
	background: #fff;
	margin: auto;
	border: 1px solid #3ead47;
	width: 350px;
	height: 130px;
	-webkit-animation: tiembla 0.3s;

}

.cuad2 .modal-content {
	background: #fff;
	margin: auto;
	border: 1px solid #3ead47;
	width: 350px;
	height: 170px;
	-webkit-animation: tiembla 0.3s;
}

.cuad3 .modal-content {
	background: #fff;
	margin: auto;
	border: 1px solid #3ead47;
	width: 480px;
	height: 179px;
	-webkit-animation: tiembla 0.3s;
}

.cuad4 .modal-content {
	    background: #fff;
    margin: auto;
    border: 1px solid #3ead47;
    width: 481px;
    height: 179px;
	-webkit-animation: tiembla 0.3s;
}

.img_error {
    width: 70px;
    float: left;
    margin-top: 35px;
    margin-left: 35px;
}

.texto_err {
	padding: 25px;
	padding-bottom: 10px;
	text-align: center;
	float: left;
	width: 340px;
}

.btn_err {
	float: left;
	left: 200px;
}

@-webkit-keyframes tiembla {
	0% {
		-webkit-transform: translate(0px);
	}

	10% {
		-webkit-transform: translate(-10px);
	}

	20% {
		-webkit-transform: translate(10px);
	}

	30% {
		-webkit-transform: translate(-10px);
	}

	40% {
		-webkit-transform: translate(10px);
	}

	50% {
		-webkit-transform: translate(-10px);
	}

	60% {
		-webkit-transform: translate(10px);
	}

	70% {
		-webkit-transform: translate(-0px);
	}

	80% {
		-webkit-transform: translate(10px);
	}

	90% {
		-webkit-transform: translate(-10px);
	}

	100% {
		-webkit-transform: rotateZ(0px);
	}
}

/* The Close Button */
.cuadros {
	width: 7%;
	background: #3ead47;
	height: 30px;
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	/* position: absolute; */
	/* right: 139px; */


}

.close {
	margin-left: 10px;
}

.close:hover,
.close1:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover,
.close:focus,
.close1:focus,
.close3:focus,
.close4:focus,
.close5:focus,
.close6:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.close1 {
	margin-left: 10px;

}

@keyframes spin {
	0% {
		transform: translate(2px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -3px) rotate(36deg);
	}

	20% {
		transform: translate(-2px, 0px) rotate(72deg);
	}

	30% {
		transform: translate(1px, 2px) rotate(108deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(144deg);
	}

	50% {
		transform: translate(-1px, 3px) rotate(180deg);
	}

	60% {
		transform: translate(-1px, 1px) rotate(216deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(252deg);
	}

	80% {
		transform: translate(-2px, -1px) rotate(288deg);
	}

	90% {
		transform: translate(2px, 1px) rotate(324deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(360deg);
	}
}

@keyframes speed {
	0% {
		transform: translate(2px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -3px) rotate(-1deg);
	}

	20% {
		transform: translate(-2px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 3px) rotate(-1deg);
	}

	60% {
		transform: translate(-1px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-2px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(2px, 1px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes strikes {
	from {
		left: 25px;
	}

	to {
		left: -80px;
		opacity: 0;
	}
}

@keyframes dots {
	from {
		width: 0px;
	}

	to {
		width: 15px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.loader {
	height: 100%;
	background: #000;
}

.fadeIn,
.loading-window {
	animation: fadeIn 0.4s both;
}

.count {
	color: #3ead47;
	font-size: 30px;
}

.loading-window {
	background: #333;
	border-radius: 6px;
	color: #ffe4e1;
	height: 200px;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	position: fixed;
	top: 40%;
	width: 300px;
	z-index: 99;
}

.loading-window .text {
	font-size: 25px;
	position: absolute;
	width: auto;
	top: 70%;
	left: 30%;
	margin: 0 auto;
	color: #3ead47;
}

.loading-window .dots {
	display: inline-block;
	width: 5px;
	overflow: hidden;
	vertical-align: bottom;
	animation: dots 1.5s linear infinite;
	transition: 1;
}

.car {
	position: absolute;
	width: 117px;
	height: 42px;
	left: 92px;
	top: 70px;
}

.car .strike {
	position: absolute;
	width: 11px;
	height: 1px;
	background: #3ead47;
	animation: strikes 0.2s linear infinite;
}

.car .strike2 {
	top: 11px;
	animation-delay: 0.05s;
}

.car .strike3 {
	top: 22px;
	animation-delay: 0.1s;
}

.car .strike4 {
	top: 33px;
	animation-delay: 0.15s;
}

.car .strike5 {
	top: 44px;
	animation-delay: 0.2s;
}

.car-detail {
	position: absolute;
	display: block;
	background: #fff;
	animation: speed 0.5s linear infinite;
}

.car-detail.spoiler {
	width: 0;
	height: 0;
	top: 7px;
	background: none;
	border: 20px solid transparent;
	border-bottom: 8px solid #fff;
	border-left: 20px solid #fff;
}

.car-detail.back {
	height: 20px;
	width: 92px;
	top: 15px;
	left: 0px;
}

.car-detail.center {
	height: 35px;
	width: 75px;
	left: 12px;
	border-top-left-radius: 30px;
	border-top-right-radius: 45px 40px;
	border: 4px solid #fff;
	background: none;
	box-sizing: border-box;
}

.car-detail.center1 {
	height: 35px;
	width: 35px;
	left: 12px;
	border-top-left-radius: 30px;
}

.car-detail.front {
	height: 20px;
	width: 50px;
	top: 15px;
	left: 67px;
	border-top-right-radius: 50px 40px;
	border-bottom-right-radius: 10px;
}

.car-detail.wheel {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	top: 20px;
	left: 12px;
	border: 3px solid #333;
	background: linear-gradient(45deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), linear-gradient(-45deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), linear-gradient(90deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), linear-gradient(0deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), radial-gradient(#ffe4e1 29%, transparent 30%, transparent 50%, #ffe4e1 51%), #333;
	animation-name: spin;
}

.car-detail.wheel2 {
	left: 82px;
}

section {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #333;
	pointer-events: none;
	animation: fadeout 5s linear forwards;
	animation-delay: 2.5s;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}



@media only screen and (max-width: 768px) {
	body {
		width: 100%;
		background-image: url(../imagenes/serge-kutuzov-229068-unsplash.jpg);
		margin: 0;
		padding: 0;
		background-attachment: fixed;
		background-size: cover;
		background-position: inherit;
	}
}
