* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Signika' !important;
	font-weight: 700 !important;
}

@font-face {
	font-family: Signika;
	src: url(../../../fuentes/Signika-Bold.ttf);
}

body {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	/*    background: url(../../../imagenes/fondo_entrada.jpg) darkgray;*/
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Open sans';
	padding: 0 10% 0;
	background-attachment: fixed;
}

.error_box {
	background: #c40018;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	line-height: 12px;
	display: none;
}

.error_box.active {
	display: block;
}

.correcto_box {
	background: #3ead47;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	line-height: 12px;
	display: none;
}

.correcto_box.active {
	display: block;
}

.boton {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #3ead47;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
	width: 70%;
}

#labl {
	display: none;
}

.loginbox {
	background: white;
	border: 0 none;
	height: 390px;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 36px 30px;
	box-sizing: border-box;
	width: 330px;
	margin: 95px auto;
	position: relative;
}

.loginbox input[type="text"],
select#tipovehiculo {
	text-transform: uppercase;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 25px;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #3ead47;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 100px;
	float: left;
}

.loginbox input[type="button"] {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #c40018;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 100px;
	float: left;
	margin-right: 20px;
}

.loginbox input,
select {
	width: 100%;
	margin-bottom: 20px;
}

span {
	color: green;
}

.loginbox input[type="submit"]:hover {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #3ead47;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;

}

.loginbox input[type="button"]:hover {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #c40018;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.iframe {
	max-width: 1085px;
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top:0;
	height: 620px;
}
